
.available {
  background-color: yellowgreen;
  padding: 4px 8px 4px 8px;
  border-radius: 10%;
  width: fit-content;
  color: white;
}

.full {
  background-color: orangered;
  padding: 4px 8px 4px 8px;
  border-radius: 10%;
  width: fit-content;
  color: white;
}

.ant-table-tbody > tr > td {
  height: 1px;
  padding: 2px;
}

.ant-table-thead > tr > th {
  height: 1px;
  padding: 4px;
}
