.header-title{
    color: white;
    font-size: 20px;
}

.user-div{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}

.welcome-text{
    color: white;
    margin-right: 10px;
}

.avatar-container{
    display: flex;
    align-items: center;
}
